include ../../components/demo-slider/demo-slider.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="demo-page.scss")
    title Document
  body
    .demo-page
      .demo-page__container
        +demo-slider()
      .demo-page__container
        +demo-slider()
      .demo-page__container
        +demo-slider()
      .demo-page__container
        +demo-slider()
    script(src="../../../../node_modules/jquery/dist/jquery.min.js")
    script(type="module" src="../../../jq.adslider.ts")
    script(type="module" src="./demo-page.ts")
