@import "../../components/panel/panel.scss";

.demo-page {
  &__container1,
  &__container2,
  &__container3,
  &__container4 {
    max-width: 900px;
    height: 340px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border: 3px solid black;
    margin-top: 50px;
    border-radius: 20px;
  }
}
