include ../../components/demo-slider/demo-slider.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="index.scss")
    title Document
  body
    
    .demo-page
      - const { defaultOptions } = JSON.parse(readFileSync("./src/demo/pages/demo-page/default-options.json", "UTF-8"))
      each item in defaultOptions
        .demo-page__container
          +demo-slider(item)
    script(src="../../../../node_modules/jquery/dist/jquery.min.js")
    script(type="module" src="../../../jq.adslider.ts")
    script(type="module" src="./index.ts")
