mixin panel()
  .panel
    .panel__name Минимальное значение:
      input(type="text").panel__minimum-value
    .panel__name Максимальное значение:
      input(type="text").panel__maximum-value
    .panel__name Тек. значение:
      input(type="text").panel__current-value
    .panel__name
      label.panel__label
        input(type="checkbox").panel__note-value
        span.panel__indicator
        span.panel__text Показать значения
    .panel__name Шаг:
      input(type="text").panel__step
    .panel__name
      label.panel__label 
        input(type="checkbox").panel__vertical-view
        span.panel__indicator
        span.panel__text Вертикальный вид
    .panel__name
      label.panel__label 
        input(type="checkbox").panel__double
        span.panel__indicator
        span.panel__text Диапазон
    .panel__name От:
      input(type="text").panel__from
    .panel__name До:
      input(type="text").panel__to
