mixin input(options = {})
  - const { title = 'Минимальное значение:', defaultValue = null } = options
  
  .input.js-input
    .input__name= title
    input(type="number" value=defaultValue required).input__value.js-input__value
