<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        .container
            .panel
                .panel__inputName Минимальное значение:
                    input(type="text").panel__minValue
                .panel__inputName Максимальное значение:
                    input(type="text").panel__maxValue
                .panel__inputName Текущее значение:
                    input(type="text").panel__curValue
                .panel__inputName Показать текущее значение:
                    input(type="checkbox" name="showValueNote" value="Показать" checked).panel__showNoteValue
        //- .container
        //-     .adslider.adslider_vertical
        //-         .adslider__track.adslider__track_vertical
        //-             .adslider__handler.adslider__handler_vertical
        //-         .adslider__note.adslider__note_vertical
        //-             p.adslider__value 100
        //- .container
        //-     .adslider.adslider_horizontal
        //-         .adslider__track.adslider__track_horizontal
        //-             .adslider__handler.adslider__handler_horizontal
        //-         .adslider__note.adslider__note_horizontal
        //-             p.adslider__value 100

        script(src="https://code.jquery.com/jquery-3.5.1.min.js")
        script(src="jq.adslider.ts")
        script(src="main.ts")
