<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="main.scss")
        title Document
        script(src="adslider-native.js")

    body
        .container
        .container1
        //-     .ad-slider
        //-         .ad-slider__line
        //-             .ad-slider__roller
        //-                 .ad-slider__value
        //-                     p.ad-slider__number

        //- script(src="script.js")
        //- script(src="adslider-native.js")
        script(src="script.js")