include demoPage/panel.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="demoPage/panel.scss")
        title Document
    body
        .js-container1.container1
            +panel(1)
        .js-container2.container2
            +panel(2)
        .js-container3.container3
            +panel(3)
        .js-container4.container4
            +panel(4)

        script(src="https://code.jquery.com/jquery-3.5.1.min.js")
        script(src="jq.adslider.ts")
        script(src="main.ts")
