<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        .container
        .container2
        input(type="text").slider1_input

        script(src="https://code.jquery.com/jquery-3.5.1.min.js")
        script(src="jq.adslider.ts")
        script(src="main.ts")
