include ../input/input.pug
include ../checkbox/checkbox.pug

mixin demo-slider(options = {})
  -
    const defaultLimits = { min: -100, max: 100 } 
    const { 
      limits = defaultLimits, 
      curValue = 50,
      showValueNote = true,
      step = 1,
      vertical = false,
      double = false,
      from = null,
      to = null
    } = options;
    const { min, max } = limits;

  .demo-slider.js-demo-slider
    .demo-slider__panel
      .demo-slider__minimum-value.js-demo-slider__minimum-value.js-demo-page__container
        +input({ title: 'Минимальное значение:', defaultValue: min })
      .demo-slider__maximum-value.js-demo-slider__maximum-value.js-demo-page__container
        +input({ title: 'Максимальное значение:', defaultValue: max })
      .demo-slider__minimum-value.js-demo-slider__current-value.js-demo-page__container
        +input({ title: 'Текущее значение:', defaultValue: curValue })
      .demo-slider__note-value.js-demo-slider__note-value.js-demo-page__container
        +checkbox({ title: 'Показать значение', defaultValue: showValueNote })
      .demo-slider__step.js-demo-slider__step.js-demo-page__container
        +input({ title: 'Шаг:', defaultValue: step })
      .demo-slider__vertical-view.js-demo-slider__vertical-view.js-demo-page__container
        +checkbox({ title: 'Вертикальный вид', defaultValue: vertical })
      .demo-slider__double.js-demo-slider__double.js-demo-page__container
        +checkbox({ title: 'Диапазон', defaultValue: double })
      .demo-slider__from.js-demo-slider__from.js-demo-page__container
        +input({ title: 'От:', defaultValue: from })
      .demo-slider__to.js-demo-slider__to.js-demo-page__container
        +input({ title: 'До:', defaultValue: to })
    .demo-slider__adslider.js-demo-slider__adslider