@import "../input/input.scss";
@import "../checkbox/checkbox.scss";

.demo-slider {
  max-width: 900px;
  height: 340px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border: 3px solid black;
  margin-top: 50px;
  border-radius: 20px;
  &__adslider {
    width: 32rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__minimum-value,
  &__maximum-value,
  &__current-value,
  &__note-value,
  &__vertical-view,
  &__double,
  &__step,
  &__from,
  &__to {
    margin-bottom: 1rem;
  }
}